@model HomeDetailsViewModel

@{
    ViewBag.Title = "Employee Details";
}

<div class="w3-row w3-padding-16">
    <div class="w3-col s12 m6 l3">
        <div class="w3-container w3-display-middle">
            <div class="w3-card-4 w3-border-amber w3-center">
                <header class="w3-padding-16">
                    <h1>@Model.Employee.Name</h1>
                </header>
                <div class="w3-padding-16">
                    <img src="~/images/noimage.jpg" style="width: 80%" asp-append-version="true" />
                </div>
                <div class="w3-padding-16">
                    <h4>Employee ID: @Model.Employee.Id</h4>
                    <h4>Email: @Model.Employee.Email</h4>
                    <h4>Department: @Model.Employee.Department</h4>
                </div>
                <footer class="w3-padding-16">
                    <a asp-controller="Home" asp-action="Index" class="w3-button w3-round w3-white w3-border w3-border-blue">Back</a>
                    <a href="#" class="w3-button w3-round w3-white w3-border w3-border-blue">Edit</a>
                    <a href="#" class="w3-button w3-round w3-white w3-border w3-border-red">Delete</a>
                </footer>

            </div>
        </div>
    </div>
</div>
@section Scripts
{
    <script src="~/js/CustomScript.js"></script>
}
