@model IEnumerable<Employee>

@{
    ViewBag.Title = "Employee List";
}

<div class="w3-responsive">
    <div class="w3-row">
        <table class="w3-table w3-third w3-bordered w3-centered">
            <thead>
                <tr>
                    <th><b>ID</b></th>
                    <th><b>Name</b></th>
                    <th><b>Department</b></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var employee in Model)
                {
                    <tr>
                        <td>@employee.Id</td>
                        <td>@employee.Name</td>
                        <td>@employee.Department</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>