@model IEnumerable<Employee>

@{
    ViewBag.Title = "Employee List";
}

<div class="w3-row w3-padding-16">
    @foreach (var employee in Model)
    {
        <div class="w3-col s12 m6 l3">
            <div class="w3-container">
                <div class="w3-card-4 w3-border-amber w3-center">
                    <header class="w3-padding-16">
                        <h3>@employee.Name</h3>
                    </header>
                    <img src="~/images/noimage.jpg" style="width: 80%" class="w3-padding-16" asp-append-version="true" />
                    <footer class="w3-padding-16">
                        <a asp-controller="Home" asp-action="Details" asp-route-id="@employee.Id" class="w3-button w3-round w3-white w3-border w3-border-blue">View</a>
                        <a href="#" class="w3-button w3-round w3-white w3-border w3-border-blue">Edit</a>
                        <a href="#" class="w3-button w3-round w3-white w3-border w3-border-red">Delete</a>
                    </footer>
                </div>
            </div>
        </div>
    }
</div>
